body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  position: absolute;
  font-size: 1.3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
  padding: 2rem 0 !important;
}

.footer footer {
  width: 100%;
  text-align: center;
  color: #ffffff;
}
